apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: openshift-etcd-operator
  name: etcd-operator
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    exclude.release.openshift.io/internal-openshift-hosted: "true"
  labels:
    app: etcd-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: etcd-operator
  template:
    metadata:
      name: etcd-operator
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        app: etcd-operator
    spec:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: etcd-operator
      containers:
      - name: etcd-operator
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop: ["ALL"]
        image: quay.io/openshift/origin-cluster-etcd-operator
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8443
          name: metrics
          protocol: TCP
        command: ["cluster-etcd-operator", "operator"]
        args:
        - "--config=/var/run/configmaps/config/config.yaml"
        - "--terminate-on-files=/var/run/configmaps/config/config.yaml"
        - "--terminate-on-files=/var/run/secrets/serving-cert/tls.crt"
        - "--terminate-on-files=/var/run/secrets/serving-cert/tls.key"
        - "--terminate-on-files=/var/run/secrets/etcd-client/tls.crt"
        - "--terminate-on-files=/var/run/secrets/etcd-client/tls.key"
        - "--terminate-on-files=/var/run/configmaps/etcd-ca/ca-bundle.crt"
        - "--terminate-on-files=/var/run/configmaps/etcd-service-ca/service-ca.crt"
        resources:
          requests:
            memory: 50Mi
            cpu: 10m
        livenessProbe:
          httpGet:
            path: healthz
            port: 8443
            scheme: HTTPS
          timeoutSeconds: 30
          periodSeconds: 60
          successThreshold: 1
          failureThreshold: 3
        volumeMounts:
        - mountPath: /var/run/configmaps/config
          name: config
        - mountPath: /var/run/secrets/serving-cert
          name: serving-cert
        - mountPath: /var/run/configmaps/etcd-ca
          name: etcd-ca
        - mountPath: /var/run/configmaps/etcd-service-ca
          name: etcd-service-ca
        - mountPath: /var/run/secrets/etcd-client
          name: etcd-client
        - mountPath: /tmp
          name: tmp-dir
        env:
        - name: IMAGE
          value: quay.io/openshift/origin-etcd
        - name: OPERATOR_IMAGE
          value: quay.io/openshift/origin-cluster-etcd-operator
        - name: OPERATOR_IMAGE_VERSION
          value: "0.0.1-snapshot"
        - name: OPERAND_IMAGE_VERSION
          value: "0.0.1-snapshot"
        - name: OPENSHIFT_PROFILE
          value: "web"
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        terminationMessagePolicy: FallbackToLogsOnError
      volumes:
      - name: serving-cert
        secret:
          secretName: etcd-operator-serving-cert
          optional: true
      - name: config
        configMap:
          name: etcd-operator-config
      - name: etcd-ca
        configMap:
          name: etcd-ca-bundle
      - name: etcd-service-ca
        configMap:
          name: etcd-service-ca-bundle
      - name: etcd-client
        secret:
          secretName: etcd-client
      - name: tmp-dir
        emptyDir: {}
      nodeSelector:
        node-role.kubernetes.io/master: ""
      priorityClassName: "system-cluster-critical"
      tolerations:
      - key: "node-role.kubernetes.io/master"
        operator: "Exists"
        effect: "NoSchedule"
      - key: "node.kubernetes.io/unreachable"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 120
      - key: "node.kubernetes.io/not-ready"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSeconds: 120
